
body{
  background-color: #a4d4f4;
  color           : #415148;
  font-family: 'Indie Flower', cursive;
  }
  .btn-primary:hover{
    background-color: #fffc5e;
    border-color: #fffc5e;
    border-width: thick;
  }
.btn-primary{
  float: right;
  background-color: #a4d4f4;
  border-color: #fffc5e;
  border-width: thick;
}



.zitatbox{
  margin-top: 50px;
}

#pic{
float: left;
}

#nz{
  padding-right: 10px;
}

#zitate {
    margin: 0 auto;
}

.row{
  padding-top: 50px;
}
#foot{
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: right;
}
footer{
  margin-right: 30px;
}
